.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{guardian.id}"}
	= simple_form_for guardian, url: guardian_path(@subcategory.category.permalink, @subcategory.permalink, guardian.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Guardian ##{guardian.id} - Edit"
				.modal-body
					= f.input :type_of_guardian, collection: ["Primary or Co-Guardian", "Successor Guardian"],include_blank: "", input_html: {class: "form-control"}
					= f.input :note_and_instructions_for_guardians, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"