= simple_form_for @guardian, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title= "#{@subcategory.name.humanize} : Guardians"
			.modal-body
				= f.input :type_of_guardian, collection: ["Primary or Co-Guardian", "Successor Guardian"],include_blank: "", input_html: {class: "form-control"}
				= f.input :note_and_instructions_for_guardians, input_html: {class: "form-control"}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save", class: "btn btn-unseal"
