= title("Guardians ")
%h1.title-module 
	Guardians 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Guardians"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Guardians  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Guardian
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @guardians.each_with_index do |guardian, index|
							.panel.panel-default
								.panel-body{id: "panel-#{guardian.id}"}
									= link_to guardian_path(@subcategory.category.permalink, @subcategory.permalink, guardian), remote: true, class: "hidden-xs" do 
										= guardian.contact ? "#{guardian.type_of_guardian}: #{guardian.contact.first_name} #{guardian.contact.last_name}" : "#{guardian.type_of_guardian}: You have not assigned a contact"
									= link_to guardian_path(@subcategory.category.permalink, @subcategory.permalink, guardian),class: "visible-xs" do 
										= guardian.contact ? "#{guardian.type_of_guardian}: #{guardian.contact.first_name} #{guardian.contact.last_name}" : "#{guardian.type_of_guardian}: You have not assigned a contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{guardian.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= guardian.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{guardian.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/guardians/#{guardian.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", guardian: guardian
								= render "contact_modal", guardian: guardian
								= render "contact_show", guardian: guardian if guardian.contact
						%center
							= paginate @guardians , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)