.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{passport.id}"}
	= simple_form_for passport, url: passport_path(@subcategory.category.permalink, @subcategory.permalink, passport.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Passport ##{passport.id} - Edit"
				.modal-body
					= f.input :country_of_issue, input_html: {class: "form-control"}
					= f.input :number, input_html: {class: "form-control"}
					= f.input :expiration_date, input_html: {class: "form-control"}
					= f.input :location, input_html: {class: "form-control"}
					= f.input :notes, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"