= title("Passports ")
%h1.title-module 
	My Passports 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Passports"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Passports  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Passport
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @passports.each_with_index do |passport, index|
							.panel.panel-default
								.panel-body{id: "panel-#{passport.id}"}
									.hidden-xs
										= link_to passport_path(@subcategory.category.permalink, @subcategory.permalink, passport), remote: true do 
											= "passport #{index+1}"
									.visible-xs
										= link_to passport_path(@subcategory.category.permalink, @subcategory.permalink, passport) do 
											= "passport #{index+1}"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{passport.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= passport.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{passport.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/passports/#{passport.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", passport: passport
								= render "contact_modal", passport: passport
								= render "contact_show", passport: passport if passport.contact
						%center
							= paginate @passports , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)