.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{will.id}"}
	= simple_form_for will, url: will_path(@subcategory.category.permalink, @subcategory.permalink, will.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Will ##{will.id} - Edit"
				.modal-body
					= f.input :where_do_you_keep_notarized, label: "Where do you keep the signed and notarized document?", input_html: {class: "form-control"}
					= f.input :when_was_it_last_update, label: "When was it last update?", input_html: {class: "form-control"}
					= f.input :where_is_it, label: "Where is it?", input_html: {class: "form-control"}
					= f.input :note_and_instructions, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"