= simple_form_for @will, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title= "#{@subcategory.name.humanize} : My Will"
			.modal-body
				= f.input :where_do_you_keep_notarized, label: "Where do you keep the signed and notarized document?", input_html: {class: "form-control"}
				= f.input :when_was_it_last_update, label: "When was it last update?", input_html: {class: "form-control"}
				= f.input :where_is_it, label: "Where is it?", input_html: {class: "form-control"}
				= f.input :note_and_instructions, input_html: {class: "form-control"}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save", class: "btn btn-unseal"
