= title "Wills | #{@will.id}"	
- @will.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		- if @will.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@will.id}", "data-toggle" => "modal" do
					= "#{@will.contact.first_name} #{@will.contact.last_name}"	
		- elsif !attribute.eql?("contact_id")

			- if attribute.eql?("where_do_you_keep_notarized") 			
				%label= "Where do you keep the signed and notarized document?:"
				.item= value.blank? ? "No information" : value

			- elsif attribute.eql?("when_was_it_last_update") 
				%label= "When was it last update?:"
				.item= value.blank? ? "No information" : value

			- elsif attribute.eql?("where_is_it") 
				%label= "Where is it?:"
				.item= value.blank? ? "No information" : value

			- else
				%label= "#{attribute.humanize}:"
				.item= value.blank? ? "No information" : value

		