= title("Will")
%h1.title-module 
	My Will
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "My Will"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Wills  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Will
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @wills.each_with_index do |will, index|
							.panel.panel-default
								.panel-body{id: "panel-#{will.id}"}
									= link_to will_path(@subcategory.category.permalink, @subcategory.permalink, will), remote: true, class: "hidden-xs" do 
										= will.contact ? "#{will.contact.first_name} #{will.contact.last_name}" : "You have not assigned a contact"
									= link_to will_path(@subcategory.category.permalink, @subcategory.permalink, will), class: "visible-xs" do 
										= will.contact ? "#{will.contact.first_name} #{will.contact.last_name}" : "You have not assigned a contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{will.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= will.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{will.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/wills/#{will.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", will: will
								= render "contact_modal", will: will
								= render "contact_show", will: will if will.contact
						%center
							= paginate @wills , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)