$('.boxes').find('.bg-selection').first().removeClass('bg-selection') // remove bg-selection
$("#box-#{@category.id}").addClass('bg-selection'); // add bg-selection
$('.checklist').html("#{escape_javascript(render template: 'frontend/partials/checklist', locals: { category: @category })}");