- case params[:switch]
- when "select-contact"
	$("#contact-modal-#{@object.id} .nav-stacked").find(".active").removeClass("active")

	$("#contact-modal-#{@object.id} #contact-#{@contact.id}").addClass("active")

	$(".modal-footer #back").remove();

	$('#contact-modal-#{@object.id} .form-contact').html("#{escape_javascript(render template: 'frontend/partials/form_select_contact', locals: { subcategory: @subcategory, object: @object, contact: @contact })}");

	$("#contact-modal-#{@object.id} #submit-contact-modal").val("Select this contact");

	$("#contact-modal-#{@object.id} .modal-footer").append("#{escape_javascript(link_to("#{(@object.contact and @object.contact.created_at?) ? 'Back to edit contact' : 'Back to a new contact'}", get_contact_path(@subcategory, @object.class, @object, @contact, "new-contact"), remote: true, class: "btn btn-unseal-gray", id: "back"))}");

	$("#contact-modal-#{@object.id} .btn-unseal-delete").remove();

- when "new-contact"
	$("#contact-modal-#{@object.id} .nav-stacked").find(".active").removeClass("active");

	$('#contact-modal-#{@object.id} .form-contact').html("#{escape_javascript(render template: 'frontend/partials/form_new_contact', locals: { subcategory: @subcategory, object: @object, contact: @contact })}");

	$("#contact-modal-#{@object.id} #submit-contact-modal").val("Save Information");

	$("#contact-modal-#{@object.id} .modal-footer #back").remove();

	- if (@object.contact and @object.contact.created_at?)
		$("#contact-modal-#{@object.id} .btn-unseal-delete").remove();
		$("#contact-modal-#{@object.id} .modal-footer").append("#{escape_javascript(submit_tag("Delete", class: "btn btn-unseal-delete btn-danger"))}")
	
	
	

	