.home{ style: "background-image: url(#{@config.try(:background)});"}
	.home-container
		.center
			.newslatter
				%h1
					= @config.try(:title)
				%p
					= @config.try(:text_one)
				.center
					.newslatter-container
						= simple_form_for @newslatter do |f|
							= f.input :email, type: "email", label: false, placeholder: "Enter your email address", input_html: { class: "newslatter-input"}
							.form-actions
								= f.button :submit, "Get Started for Free", class: "newslatter-btn"
						.clearfix
				%p
					%br
					= @config.try(:text_two)
	%footer.navbar-fixed-bottom
		All rights reserved 2016.
		%span
			Unsealbox