.container
  -if Subcategory.information_empty?(current_user)
    = wicked_pdf_image_tag 'frontend/unsealbox-blue.png', width: "200px"
    %center
      %h1{style: "color:#679DE8;padding:10px;"} 
        = "#{current_user.name}'s Boxes"
      %p= DateTime.now.strftime "%F %T"
      %h2 No Information.
  - else 
    - @categories.each.each do |category|
      - category.subcategories.each_with_index do |subcategory, page_break|
        - if subcategory.in_plan?(current_user)
          = wicked_pdf_image_tag 'frontend/unsealbox-blue.png', width: "200px"
          %center
            %h1{style: "color:#679DE8;padding:10px;"} 
              = "#{current_user.name}'s Boxes"
            %p= DateTime.now.strftime "%F %T"
          %h2.panel-title{style: "background:#679DE8;color:#ffffff;padding:10px;"} 
            = subcategory.name
          - subcategory.models_of_subcategory.each do |model|          
            - model.to_s.constantize.where(user_id: current_user.id).each_with_index do |object, index|
              %div{style: "border:1px solid #CDDFF7;padding:10px;margin-bottom: 15px;"}
                %h4.panel-title{style: "background:#CDDFF7;color:#679DE8;padding:10px;"} 
                  = t("unseal.models.labels.#{model.to_s.underscore}").singularize
                  = index + 1                      
                - object.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
                  .row-item 
                    - if attribute.eql?("contact_id")
                      - if object.contact
                        %b= "#{attribute.humanize}:"
                        %br
                        %br
                        %div{style: "border:1px solid #CDDFF7;padding:10px;margin-bottom: 15px;"}
                          %b Name:
                          .item= "#{object.contact.first_name} #{object.contact.last_name}"
                          - object.contact.as_json(except: [:id, :first_name, :middle_name, :last_name, :user_id, :created_at, :updated_at]).each do |attribute_contact, value_contact|
                            - unless value_contact.blank?
                              %b="#{attribute_contact.humanize}:"
                              .item= value_contact
                    - elsif !attribute.eql?("contact_id")
                      - unless value.blank?
                        %b= "#{attribute.humanize}:"
                        .item= value
              .page-break
:css
  .page-break { display:block; clear:both; page-break-after:always; }