%h2.title-module 
	= "#{current_user.name}'s Boxes"
.container.index.card
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} This is my boxes
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			#form
				.card-body
					%ul.nav.nav-pills.nav-unseal
						%li.active{role:"presentation"}
							= link_to my_plan_report_path(:format => :pdf), target: "_blank" do
								.fa.fa-download
								PDF Download
					%hr	
					%br
					.row
						.col-lg-3.col-md-3.col-sm-6.hidden-xs
							- @categories.each do |category|
								.checklist
									= render template: "frontend/partials/myplan_listing", locals: { category: category }
						.col-lg-9.col-md-9.col-sm-6.col-xs-12
							#my-plan-information
								.panel.panel-default
									.panel-heading
										%h4.panel-title
											My Boxes
									.panel-body
										Here you find an overview of all information you have provided and you can change and download it easily from here.