.container.myunseal
	%ul.nav.nav-tabs{:role => "tablist"}
		- @categories.each_with_index do |category, index|
			%li{class: "#{'active' if category.permalink.eql? params[:category_permalink]}", :role => "presentation"}
				= link_to myunsealbox_path(category.permalink), :role => "tab", class: "text-unseal" do
					= category.name.upcase

	.card.index 
		.tab-content
			- @categories.each_with_index do |category, index|		 
				.tab-pane{class: "#{'active' if category.permalink.eql?(params[:category_permalink])}", id: "tab-#{category.permalink}", :role => "tabpanel", style: "padding-top: 0px"}
					.row
						.col-lg-6
						.col-lg-6
							%ul.legend
								%li 
									%i.fa.fa-times-circle.clear
									TO DO
								%li
									%i.fa.fa-check-circle.done
									DONE
								%li
									%i.fa.fa-check-circle.ready
									IN BOX
					%hr
					%br
					.row
						.col-lg-4
							.checklist
								= render template: "frontend/partials/checklist", locals: { category: category }
						.col-lg-8{align: "justify"}
							.well
								= raw category.description
		.clearfix
		




		
		