%h1.title-module 
	= "#{@user.name}'s Plan"
.container.index.card
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} This is my plan
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			#form
				.card-body
					%ul.nav.nav-pills.nav-unseal
						%li.active{role:"presentation"}
							= link_to shared_plan_report_path(:format => :pdf), target: "_blank" do
								.fa.fa-download
								PDF Download
					%hr	
					%br
					.row
						.col-lg-3.col-md-3.col-sm-6.hidden-xs
							- @categories.each do |category|
								.checklist
									= render partial: "frontend/partials/shared_plan_listing", locals: { category: category }
						.col-lg-9.col-md-9.col-sm-6.col-xs-12
							#my-plan-information
								.panel.panel-default
									.panel-heading
										%h4.panel-title
											My Plan
									.panel-body
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.