.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{service.id}"}
	= simple_form_for service, url: service_path(@subcategory.category.permalink, @subcategory.permalink, service.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Service ##{service.id} - Edit"
				.modal-body
					= f.input :type_of_service, input_html: {class: "form-control"}
					= f.input :location, collection: ["Funeral Home", "Chapel at the Cementary", "Religious Place Workship", "Secular Event Place", "Park or Outdoor Location", "My Home", "Friend or Family Member's Home", "Other"],include_blank: "", input_html: {class: "form-control"}
					= f.input :note_and_instructions, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"