= simple_form_for @service, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title= "#{@subcategory.name.humanize} : My Services"
			.modal-body
				= f.input :type_of_service, input_html: {class: "form-control"}
				= f.input :location, collection: ["Funeral Home", "Chapel at the Cementary", "Religious Place Workship", "Secular Event Place", "Park or Outdoor Location", "My Home", "Friend or Family Member's Home", "Other"],include_blank: "", input_html: {class: "form-control"}
				= f.input :note_and_instructions, input_html: {class: "form-control"}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save", class: "btn btn-unseal"
