= title("Services ")
%h1.title-module 
	My Service 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Service"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Service Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					- if @services.where(user_id: current_user.id).count.zero?
						%li.active{role:"presentation"}
							%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
								+ Add Service
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @services.each_with_index do |service, index|
							.panel.panel-default
								.panel-body{id: "panel-#{service.id}"}
									= link_to service_path(@subcategory.category.permalink, @subcategory.permalink, service), remote: true, class: "hidden-xs" do 
											= "Service"
									.visible-xs
										= link_to service_path(@subcategory.category.permalink, @subcategory.permalink, service), class: "visible-xs" do 
											= "Service"
									.panel-actions				
										= link_to "#", "data-target" => "#modal-edit-#{service.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/services/#{service.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", service: service
						%center
							= paginate @services , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)