.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{drives_license.id}"}
	= simple_form_for drives_license, url: drives_license_path(@subcategory.category.permalink, @subcategory.permalink, drives_license.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Drives License ##{drives_license.id} - Edit"
				.modal-body
					= f.input :number, input_html: {class: "form-control"}
					= f.input :country, input_html: {class: "form-control"}
					= f.input :state, input_html: {class: "form-control"}
					= f.input :expiration_date, input_html: {class: "form-control"}
					= f.input :string, input_html: {class: "form-control"}
					= f.input :location, input_html: {class: "form-control"}
					= f.input :notes, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"