= title "Drives_licenses | #{@drives_license.id}"	
- @drives_license.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		- if @drives_license.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@drives_license.id}", "data-toggle" => "modal" do
					= "#{@drives_license.contact.first_name} #{@drives_license.contact.last_name}"	
		- elsif !attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value