= title("Drives Licenses ")
%h1.title-module 
	My Drives Licenses 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Drives Licenses"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Drives Licenses  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Drives License
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @drives_licenses.each_with_index do |drives_license, index|
							.panel.panel-default
								.panel-body{id: "panel-#{drives_license.id}"}
									= link_to drives_license_path(@subcategory.category.permalink, @subcategory.permalink, drives_license), remote: true, class: "hidden-xs" do 
										= drives_license.contact ? "#{drives_license.contact.first_name} #{drives_license.contact.last_name}" : "You have not assigned a contact"
									= link_to drives_license_path(@subcategory.category.permalink, @subcategory.permalink, drives_license), class: "visible-xs" do 
										= drives_license.contact ? "#{drives_license.contact.first_name} #{drives_license.contact.last_name}" : "You have not assigned a contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{drives_license.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= drives_license.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{drives_license.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/drives_licenses/#{drives_license.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", drives_license: drives_license
								= render "contact_modal", drives_license: drives_license
								= render "contact_show", drives_license: drives_license if drives_license.contact
						%center
							= paginate @drives_licenses , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)