= title "Beneficiaries | #{@beneficiary.id}"	
- @beneficiary.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		- if @beneficiary.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@beneficiary.id}", "data-toggle" => "modal" do
					= "#{@beneficiary.contact.first_name} #{@beneficiary.contact.last_name}"	
		- elsif !attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value