= title("Beneficiaries ")
%h1.title-module 
	My Beneficiaries 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Beneficiaries"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Beneficiaries Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Beneficiary
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @beneficiaries.each_with_index do |beneficiary, index|
							.panel.panel-default
								.panel-body{id: "panel-#{beneficiary.id}"}
									= link_to beneficiary_path(@subcategory.category.permalink, @subcategory.permalink, beneficiary), remote: true, class: "hidden-xs" do 
										= beneficiary.name.blank? ? "No information" : beneficiary.name
									= link_to beneficiary_path(@subcategory.category.permalink, @subcategory.permalink, beneficiary), class: "visible-xs" do 
										= beneficiary.name.blank? ? "No information" : beneficiary.name
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{beneficiary.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= beneficiary.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{beneficiary.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/beneficiaries/#{beneficiary.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", beneficiary: beneficiary
								= render "contact_modal", beneficiary: beneficiary
								= render "contact_show", beneficiary: beneficiary if beneficiary.contact
						%center
							= paginate @beneficiaries , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)