.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "contact-modal-#{day_care_personnel.id}"}
	= simple_form_for day_care_personnel, url: day_care_personnel_path(@subcategory.category.permalink, @subcategory.permalink, day_care_personnel.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog.modal-lg.contact-modal{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4.modal-title 
						= (day_care_personnel.contact and day_care_personnel.contact.created_at?) ? "Day Care Personnel ##{day_care_personnel.id} - Edit Contact" : "Day Care Personnel ##{day_care_personnel.id} - Add Contact"
				.modal-body
					.row
						.col-lg-3
							= render partial: "frontend/partials/listing_contacts", locals: { object: day_care_personnel }
						.col-lg-9
							.form-contact
								= render template: "frontend/partials/form_new_contact",  locals: { subcategory: @subcategory, object: day_care_personnel, contact: day_care_personnel.contact }
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal", id: "submit-contact-modal"
					= f.button(:submit, "Delete", class: "btn btn-unseal-delete btn-danger") if (day_care_personnel.contact and day_care_personnel.contact.created_at?)

:javascript
	$("#contact-modal-#{day_care_personnel.id}").on('hide.bs.modal', function () {
		$.ajax({
			url: "/subcategory/#{@subcategory.id}/day_care_personnel/#{day_care_personnel.id}/contacts/nil/new-contact",
			context: document.body
		}).done(function() {
			$( this ).addClass( "done" );
		});
	});