.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "contact-show-#{day_care_personnel.id}"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4.modal-title 
					= "#{day_care_personnel.contact.first_name} #{day_care_personnel.contact.middle_name} #{day_care_personnel.contact.last_name}"
			.modal-body
				= render partial: "frontend/partials/information_contact", locals: { contact: day_care_personnel.contact}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close