.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{day_care_personnel.id}"}
	= simple_form_for day_care_personnel, url: day_care_personnel_path(@subcategory.category.permalink, @subcategory.permalink, day_care_personnel.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Day Care Personnel ##{day_care_personnel.id} - Edit"
				.modal-body
					= f.input :type_of_day_care, input_html: {class: "form-control"}
					= f.input :note_and_instructions, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"