= simple_form_for @day_care_personnel, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title= "My Day Care Personnel"
			.modal-body
				= f.input :type_of_day_care, input_html: {class: "form-control"}
				= f.input :note_and_instructions, input_html: {class: "form-control"}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save", class: "btn btn-unseal"
