= title "Day_care_personnels | #{@day_care_personnel.id}"	
- @day_care_personnel.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		- if @day_care_personnel.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@day_care_personnel.id}", "data-toggle" => "modal" do
					= "#{@day_care_personnel.contact.first_name} #{@day_care_personnel.contact.last_name}"	
		- elsif !attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value