= title("Day Care Personnels ")
%h1.title-module 
	My Day Care Personnel 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "My Day Care Personnel"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Day Care Personnel  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Day Care Personnel
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @day_care_personnels.each_with_index do |day_care_personnel, index|
							.panel.panel-default
								.panel-body{id: "panel-#{day_care_personnel.id}"}
									= link_to day_care_personnel_path(@subcategory.category.permalink, @subcategory.permalink, day_care_personnel), remote: true, class: "hidden-xs" do 
										= day_care_personnel.contact ? "#{day_care_personnel.type_of_day_care}: #{day_care_personnel.contact.first_name} #{day_care_personnel.contact.last_name}" : "#{day_care_personnel.type_of_day_care}: You have not assigned a contact"
									
									= link_to day_care_personnel_path(@subcategory.category.permalink, @subcategory.permalink, day_care_personnel), class: "visible-xs" do 
										= day_care_personnel.contact ? "#{day_care_personnel.type_of_day_care}: #{day_care_personnel.contact.first_name} #{day_care_personnel.contact.last_name}" : "#{day_care_personnel.type_of_day_care}: You have not assigned a contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{day_care_personnel.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= day_care_personnel.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{day_care_personnel.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/day_care_personnels/#{day_care_personnel.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", day_care_personnel: day_care_personnel
								= render "contact_modal", day_care_personnel: day_care_personnel
								= render "contact_show", day_care_personnel: day_care_personnel if day_care_personnel.contact
						%center
							= paginate @day_care_personnels , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)