.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "contact-modal-#{child.id}"}
	= simple_form_for child, url: child_path(@subcategory.category.permalink, @subcategory.permalink, child.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog.modal-lg.contact-modal{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4.modal-title 
						= (child.contact and child.contact.created_at?) ? "child ##{child.id} - Edit Contact" : "child ##{child.id} - Add Contact"
				.modal-body
					.row
						.col-lg-3
							= render partial: "frontend/partials/listing_contacts", locals: { object: child }
						.col-lg-9
							.form-contact
								= render template: "frontend/partials/form_new_contact",  locals: { subcategory: @subcategory, object: child, contact: child.contact }
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal", id: "submit-contact-modal"
					= f.button(:submit, "Delete", class: "btn btn-unseal-delete btn-danger") if (child.contact and child.contact.created_at?)

:javascript
	$("#contact-modal-#{child.id}").on('hide.bs.modal', function () {
		$.ajax({
			url: "/subcategory/#{@subcategory.id}/child/#{child.id}/contacts/nil/new-contact",
			context: document.body
		}).done(function() {
			$( this ).addClass( "done" );
		});
	});