.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{child.id}"}
	= simple_form_for child, url: child_path(@subcategory.category.permalink, @subcategory.permalink, child.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Child ##{child.id} - Edit"
				.modal-body
					.padding-10				
						= f.input :school, label: "Name of school or day care", input_html: {class: "form-control"}
						= f.input :health, label: "Health and medical information", input_html: {class: "form-control"}
						= f.input :dentary, label: "Dietary information", input_html: {class: "form-control"}
						= f.input :note, label: "Notes and Instructions", input_html: {class: "form-control"}

				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"