= simple_form_for @child, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title 
					= "#{@subcategory.name.humanize}: #{controller_name.singularize.humanize}"
			.modal-body
				.padding-10
					= f.input :school, label: "Name of school or day care", input_html: {class: "form-control"}
					= f.input :health, label: "Health and medical information", input_html: {class: "form-control"}
					= f.input :dentary, label: "Dietary information", input_html: {class: "form-control"}
					= f.input :note, label: "Notes and Instructions", input_html: {class: "form-control"}

			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save Information", class: "btn btn-unseal"
