= title("Children")
%h1.title-module 
	My Children
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Children"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Children Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add child
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @children.each_with_index do |child, index|
							.panel.panel-default
								.panel-body{id: "panel-#{child.id}"}
									= link_to child_path(@subcategory.category.permalink, @subcategory.permalink, child), remote: true, class: "hidden-xs" do 
										= child.contact ? "#{child.contact.first_name} #{child.contact.last_name}" : "You have not assigned a contact"
									= link_to child_path(@subcategory.category.permalink, @subcategory.permalink, child), class: "visible-xs" do 
										= child.contact ? "#{child.contact.first_name} #{child.contact.last_name}" : "You have not assigned a contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{child.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= child.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{child.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/children/#{child.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", child: child
								= render "contact_modal", child: child
								= render "contact_show", child: child if child.contact
						%center
							= paginate @children, :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)
