.wrapper
	.wrapper-body.container
		.actions
			= link_to landing_page_path(@landing_page), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Show" do
				= material_icon.md_18.info.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @landing_page do |f|
					.row
						= f.input :title
						= f.input :text_one, input_html: {class: "materialize-textarea"}
						= f.input :text_two, input_html: {class: "materialize-textarea"}
						= f.input :google_analytics_track
						= f.input :google_adwords_script, input_html: {class: "materialize-textarea"}
						= f.input :background, :as => :file_material, label: false, wrapper_html: { class: "file-field" }	
						= f.input :meta_tags, input_html: {class: "materialize-textarea"}

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
