.listing-show-header
	.actions
		- if can? :update, LandingPage
			= link_to edit_landing_page_path(@landing_page), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.web.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.title")
			.display-value= @landing_page.title
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.text_one")
			.display-value= @landing_page.text_one
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.text_two")
			.display-value= @landing_page.text_two
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.meta_tags")
			.display-value= @landing_page.meta_tags
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.google_analytics_track")
			.display-value= @landing_page.google_analytics_track
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.google_adword_script")
			.display-value= @landing_page.google_adword_script
	

:javascript
	$('.tooltipped').tooltip({delay: 1});
