%tr{ id: "row-#{landing_page.id}" }
	- if can? :destroy_multiple, LandingPage
		%td.item-check{style:"width: 10%"}
			= link_to "", landing_page_path(landing_page), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{landing_page.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{landing_page.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{landing_page.id}" }

		%td{style:"width: 30%"}
			= link_to "", landing_page_path(landing_page, search: @query), remote: true, class: "show-row"
			%span
				= landing_page.title
		%td{style:"width: 30%"}
			= link_to "", landing_page_path(landing_page, search: @query), remote: true, class: "show-row"
			%span
				= landing_page.gogole_analityc_track
								
	%td{style:"width: 5%"}		
		= link_to landing_page_path(landing_page), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")