= title "Landing page config | #{@landing_page.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, LandingPage
				= link_to landing_page_path(@landing_page), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, LandingPage
				= link_to edit_landing_page_path(@landing_page), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Edit" do
					= material_icon.md_18.create.css_class("md-dark")
		.card{ style: "padding: 0px;"}	
			.card-image
				= image_tag @landing_page.background
			.card-content
				%ul.list
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.id")
						.display-value.fs-body-1.tc-black-2= @landing_page.id.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.title")
						.display-value.fs-body-1.tc-black-2= @landing_page.title.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.text_one")
						.display-value.fs-body-1.tc-black-2= @landing_page.text_one.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.text_two")
						.display-value.fs-body-1.tc-black-2= @landing_page.text_two.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.meta_tags")
						.display-value.fs-body-1.tc-black-2= @landing_page.meta_tags.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.google_analytics_track")
						.display-value.fs-body-1.tc-black-2= @landing_page.google_analytics_track.to_s.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.google_adwords_script")
						.display-value.fs-body-1.tc-black-2= @landing_page.google_adwords_script.to_s.humanize
