= simple_form_for @life_insurance, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title= "#{@subcategory.name.humanize} : My Life Insurances"
			.modal-body
				= f.input :name_of_insurance_company, input_html: {class: "form-control"}
				= f.input :location_of_original_policy, input_html: {class: "form-control"}
				= f.input :type_of_policy, input_html: {class: "form-control"}
				= f.input :what_is_the_policy_number, input_html: {class: "form-control"}
				= f.input :policy_start_date, input_html: {class: "form-control"}
				= f.input :policy_expiration_date, input_html: {class: "form-control"}
				= f.input :value_of_death_benefit, input_html: {class: "form-control"}
				= f.input :notes, input_html: {class: "form-control"}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save", class: "btn btn-unseal"
