= title "Life_insurances | #{@life_insurance.id}"	
- @life_insurance.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		- if @life_insurance.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@life_insurance.id}", "data-toggle" => "modal" do
					= "#{@life_insurance.contact.first_name} #{@life_insurance.contact.last_name}"	
		- elsif !attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value