= title("Life Insurance ")
%h1.title-module 
	My Life Insurance 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "My Life Insurance"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Life Insurance  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Life Insurance
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @life_insurances.each_with_index do |life_insurance, index|
							.panel.panel-default
								.panel-body{id: "panel-#{life_insurance.id}"}
									= link_to life_insurance_path(@subcategory.category.permalink, @subcategory.permalink, life_insurance), remote: true, class: "hidden-xs" do 
										= life_insurance.contact ? "#{life_insurance.name_of_insurance_company} - Advisor: #{life_insurance.contact.first_name} #{life_insurance.contact.last_name}" : "#{life_insurance.name_of_insurance_company} - Advisor: You have not assigned a advisor contact"
									= link_to life_insurance_path(@subcategory.category.permalink, @subcategory.permalink, life_insurance),class: "visible-xs" do 
										= life_insurance.contact ? "#{life_insurance.name_of_insurance_company} - Advisor: #{life_insurance.contact.first_name} #{life_insurance.contact.last_name}" : "#{life_insurance.name_of_insurance_company} - Advisor: You have not assigned a advisor contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{life_insurance.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= life_insurance.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{life_insurance.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/life_insurances/#{life_insurance.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", life_insurance: life_insurance
								= render "contact_modal", life_insurance: life_insurance
								= render "contact_show", life_insurance: life_insurance if life_insurance.contact
						%center
							= paginate @life_insurances , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)