.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{executor.id}"}
	= simple_form_for executor, url: executor_path(@subcategory.category.permalink, @subcategory.permalink, executor.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "My Heir ##{executor.id} - Edit"
				.modal-body
					= f.input :type_of_executor, collection: ["Primary Heir", "Contingent Heir"],include_blank: "", input_html: {class: "form-control"}
					= f.input :note_and_instructions_for_executor, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"