= title("My Heirs")
%h1.title-module 
	My Heirs 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "My Heirs"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Heirs Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Heir
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @executors.each_with_index do |executor, index|
							.panel.panel-default
								.panel-body{id: "panel-#{executor.id}"}
									= link_to executor_path(@subcategory.category.permalink, @subcategory.permalink, executor), remote: true, class: "hidden-xs" do 
										= executor.contact ? "#{executor.type_of_executor}: #{executor.contact.first_name} #{executor.contact.last_name}" : "#{executor.type_of_executor}: You have not assigned a contact"
									= link_to executor_path(@subcategory.category.permalink, @subcategory.permalink, executor),class: "visible-xs" do 
										= executor.contact ? "#{executor.type_of_executor}: #{executor.contact.first_name} #{executor.contact.last_name}" : "#{executor.type_of_executor}: You have not assigned a contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{executor.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= executor.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{executor.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/executors/#{executor.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", executor: executor
								= render "contact_modal", executor: executor
								= render "contact_show", executor: executor if executor.contact
						%center
							= paginate @executors , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)