= simple_form_for assigned.responsability, url: upload_document_deputies_path(assigned.responsability.id), wrapper: :bootstrap, method: :put do |f|
	.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "certificate-#{assigned.id}"}
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%h4.modal-title
						Upload Certificate
				.modal-body
					%p.modal-p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.upload-unseal
						= f.simple_fields_for :death_certificate, assigned.responsability.death_certificate ? assigned.responsability.death_certificate : assigned.responsability.build_death_certificate  do |f|
							= f.input :document, as: :file, label: false, class: "modal-p"
							
				.modal-footer
					= f.button :submit, "Upload certificate", class: "btn btn-unseal"
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

