%h1.title-module 
	My Trustees
.container.index.card
	.tab-content
		.tab-pane.active{:role => "tabpanel" }
			.card-body
				.card-body-head
					%h3
						Every item in your boxes should be shared with at least one trusted Trustee to ensure it gets into the right hands at the right time. You can decide whom will be your trustee. Think about close friends or family. And you can decide when information will be shared.

					.action
						= link_to new_deputy_path, class: "btn btn-unseal" do
							.fa.fa-plus
							Add a Trustee
					%br
					%hr
				.card-body-deputies
					.deputy
						- current_user.deputies.each do |deputy|
							.deputy-head
								= link_to "DELETE TRUSTEE", deputy_path(deputy.id), class: "btn btn-danger delete-deputy", method: :delete
								%h3
									= "#{deputy.first_name} #{deputy.last_name}"
									%span= "(#{deputy.email})"
								%h5 
									This Trustee can access:deputy
									%span.loading.primary-color{ style: "display:none;", id: "loading-#{deputy.id}"}
										Updating 
										%i.fa.fa-spinner.fa-pulse

							= simple_form_for deputy.responsability, url: update_access_deputies_path, method: :put, wrapper: :bootstrap, remote: true do |f|
								= f.input :id, as: :hidden
								= f.association :subcategories, as: :check_boxes, label: false, input_html: { onclick: "responsability_submit(#{deputy.id});", id: "" }
							%hr

:javascript
	function responsability_submit(index){
		$('#edit_responsability_'+index).submit();
		$('#loading-'+index).css('display', 'inline-block');
	}


