.container.index.card
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			#form
				.card-body
					= simple_form_for @deputy, wrapper: :bootstrap do |f|
						.row
							.col-lg-5
								%h3
									Add new Trustee
								%hr
								%br
								= f.input :first_name, input_html: { class: "form-control" }
								%br
								= f.input :last_name, input_html: { class: "form-control" }
								%br
								= f.input :email, input_html: { class: "form-control" }
								%br
								= f.association :death_notification, label: "When do you want the trustee receive your information?", input_html: { class: "form-control" }
							.col-lg-7
								%h3 This Trustee can access:
								%hr
								= f.simple_fields_for :responsability do |f|
									= f.association :subcategories, as: :check_boxes, label: false
                     
								
								

						.actions
							= f.submit "Create Trustee", class: "btn btn-unseal pull-right"

					  