%h1.title-module 
	I am responsible for the boxes
.container.index.card
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			#form
				.card-body
					- if current_user.assigned_responsabilities.empty?
						%h4 You have no responsibilities
					- current_user.assigned_responsabilities.each do |assigned|
						.responsability
							= link_to assigned.responsability.user.name, shared_plan_path(assigned.responsability.user.permalink)
							.actions
								- unless assigned.death_certificate?
									= link_to "#", "data-target" => "#certificate-#{assigned.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray" do
										= assigned.death_notification.name_button

									= link_to "Remove", deputy_path(assigned.id), method: :delete
									= render "modal_certificate", assigned: assigned
								- else
									- if assigned.death_notification? and assigned.permission_to_read_boxes?
										= link_to "Donwload", shared_plan_report_path(assigned.responsability.user.permalink, :format => :pdf), target: "_blank"
										= link_to "View", shared_plan_path(assigned.responsability.user.permalink)
										= link_to "Remove", deputy_path(assigned.id), method: :delete
									- else
										.fa.fa-clock-o
										Verifing certificate

					

							
