%tr{ id: "row-#{subcategory.id}" }
	- if can? :destroy_multiple, Subcategory
		%td.item-check{style:"width: 10%"}
			= link_to "", subcategory_path(subcategory), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{subcategory.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{subcategory.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{subcategory.id}" }

	%td{style:"width: 90%"}
		= link_to "", subcategory_path(subcategory, search: @query), remote: true, class: "show-row"
		%span
			= subcategory.name
								
	%td{style:"width: 5%"}		
		= link_to subcategory_path(subcategory), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")