= title "Subcategories | #{@subcategory.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Subcategory
				= link_to subcategory_path(@subcategory), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Delete", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Subcategory
				= link_to edit_subcategory_path(@subcategory), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Edit" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to subcategories_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Back" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @subcategory.name.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.description")
					.display-value.fs-body-1.tc-black-2= @subcategory.description.to_s.humanize
