%tr{ id: "row-#{newslatter.id}" }
	- if can? :destroy_multiple, Newslatter
		%td.item-check{style:"width: 10%"}
			= link_to "", newslatter_path(newslatter), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{newslatter.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{newslatter.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{newslatter.id}" }

		%td{style:"width: 30%"}
			= link_to "", newslatter_path(newslatter, search: @query), remote: true, class: "show-row"
			%span
				= newslatter.email
								
	%td{style:"width: 5%"}		
		= link_to newslatter_path(newslatter), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")