= title "Newslatters | #{@newslatter.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Newslatter
				= link_to newslatter_path(@newslatter), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Delete", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")				
			= link_to newslatters_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Back" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.email")
					.display-value.fs-body-1.tc-black-2= @newslatter.email.to_s.humanize
