= simple_form_for @spouse, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title 
					= "#{@subcategory.name.humanize}: #{controller_name.singularize.humanize}"
			.modal-body
				.padding-10				
					= f.input :status, collection: ["Married", "Domestic Partner", "Separated", "Divorced", "Deceased", "Other"],include_blank: "Select status", input_html: {class: "form-control"}
					= f.input :note, label: "Notes and Instructions", input_html: {class: "form-control", style: "height: 200px;"}

			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save Information", class: "btn btn-unseal"

