= title("Spouses")
%h1.title-module 
	My Spouse
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Spouse"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Spouse Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Spouse
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @spouses.each do |spouse|
							.panel.panel-default
								.panel-body{id: "panel-#{spouse.id}"}
									= link_to spouse_path(@subcategory.category.permalink, @subcategory.permalink, spouse), remote: true, class: "hidden-xs" do 
										= spouse.contact ? "#{spouse.contact.first_name} #{spouse.contact.last_name}" : "You have not assigned a contact"
									= link_to spouse_path(@subcategory.category.permalink, @subcategory.permalink, spouse), class: "visible-xs" do 
										= spouse.contact ? "#{spouse.contact.first_name} #{spouse.contact.last_name}" : "You have not assigned a contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{spouse.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= spouse.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{spouse.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/spouses/#{spouse.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", spouse: spouse
								= render "contact_modal", spouse: spouse
								= render "contact_show", spouse: spouse if spouse.contact
						%center
							= paginate @spouses, :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)
