.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "contact-show-#{<%= singular_table_name %>.id}"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4.modal-title 
					= "#{<%= singular_table_name %>.contact.first_name} #{<%= singular_table_name %>.contact.middle_name} #{<%= singular_table_name %>.contact.last_name}"
			.modal-body
				= render partial: "frontend/partials/information_contact", locals: { contact: <%= singular_table_name %>.contact}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close