.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "contact-modal-#{<%= singular_table_name %>.id}"}
	= simple_form_for <%= singular_table_name %>, url: <%= singular_table_name %>_path(@subcategory.category.permalink, @subcategory.permalink, <%= singular_table_name %>.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog.modal-lg.contact-modal{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4.modal-title 
						= (<%= singular_table_name %>.contact and <%= singular_table_name %>.contact.created_at?) ? "<%= singular_table_name.titleize %> ##{<%= singular_table_name %>.id} - Edit Contact" : "<%= singular_table_name.titleize %> ##{<%= singular_table_name %>.id} - Add Contact"
				.modal-body
					.row
						.col-lg-3
							= render partial: "frontend/partials/listing_contacts", locals: { object: <%= singular_table_name %> }
						.col-lg-9
							.form-contact
								= render template: "frontend/partials/form_new_contact",  locals: { subcategory: @subcategory, object: <%= singular_table_name %>, contact: <%= singular_table_name %>.contact }
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal", id: "submit-contact-modal"
					= f.button(:submit, "Delete", class: "btn btn-unseal-delete btn-danger") if (<%= singular_table_name %>.contact and <%= singular_table_name %>.contact.created_at?)

:javascript
	$("#contact-modal-#{<%= singular_table_name %>.id}").on('hide.bs.modal', function () {
		$.ajax({
			url: "/subcategory/#{@subcategory.id}/<%= singular_table_name %>/#{<%= singular_table_name %>.id}/contacts/nil/new-contact",
			context: document.body
		}).done(function() {
			$( this ).addClass( "done" );
		});
	});