.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{<%= singular_table_name %>.id}"}
	= simple_form_for <%= singular_table_name %>, url: <%= singular_table_name %>_path(@subcategory.category.permalink, @subcategory.permalink, <%= singular_table_name %>.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "<%= singular_table_name.titleize %> ##{<%= singular_table_name %>.id} - Edit"
				.modal-body
					<%- attributes.each do |attribute| -%>
					<%- if !["user", "contact_id"].include? attribute.name -%>
					= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, input_html: {class: "form-control"}
					<%- end -%>
					<%- end -%>
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"