= simple_form_for @<%= singular_table_name %>, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title= "#{@subcategory.name.humanize} : My <%= singular_table_name.titleize %>s"
			.modal-body
				<%- attributes.each do |attribute| -%>
				<%- if !["user", "contact_id"].include? attribute.name -%>
				= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, input_html: {class: "form-control"}
				<%- end -%>
				<%- end -%>
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save", class: "btn btn-unseal"
