= title "<%= plural_table_name.capitalize %> | #{@<%= singular_table_name %>.id}"	
- @<%= singular_table_name %>.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		- if @<%= singular_table_name %>.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@<%= singular_table_name %>.id}", "data-toggle" => "modal" do
					= "#{@<%= singular_table_name %>.contact.first_name} #{@<%= singular_table_name %>.contact.last_name}"	
		- elsif !attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value