= title("<%= plural_table_name.titleize %> ")
%h1.title-module 
	My <%= plural_table_name.titleize %> 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "<%= plural_table_name.titleize %>"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add <%= plural_table_name.titleize %>  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add <%= singular_table_name.titleize %>
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @<%= plural_table_name %>.each_with_index do |<%= singular_table_name %>, index|
							.panel.panel-default
								.panel-body{id: "panel-#{<%= singular_table_name %>.id}"}
									= link_to <%= singular_table_name %>_path(@subcategory.category.permalink, @subcategory.permalink, <%= singular_table_name %>), remote: true, class: "hidden-xs" do 
										= "<%= singular_table_name %> #{index+1}"
									
									= link_to <%= singular_table_name %>_path(@subcategory.category.permalink, @subcategory.permalink, <%= singular_table_name %>), class: "visible-xs" do 
										= "<%= singular_table_name %> #{index+1}"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{<%= singular_table_name %>.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= <%= singular_table_name %>.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{<%= singular_table_name %>.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/<%= plural_table_name %>/#{<%= singular_table_name %>.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", <%= singular_table_name %>: <%= singular_table_name %>
								= render "contact_modal", <%= singular_table_name %>: <%= singular_table_name %>
								= render "contact_show", <%= singular_table_name %>: <%= singular_table_name %> if <%= singular_table_name %>.contact
						%center
							= paginate @<%= plural_table_name %> , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)