= title "<%= singular_table_name.titleize %> | #{@<%= singular_table_name %>.id}"
= render "layouts/frontend/breadcrumbs", module_name: "My <%= plural_table_name.capitalize %>"
.well
	.show
		= render "show"