.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{credit_card.id}"}
	= simple_form_for credit_card, url: credit_card_path(@subcategory.category.permalink, @subcategory.permalink, credit_card.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Credit Card ##{credit_card.id} - Edit"
				.modal-body
					= f.input :type_of_card, input_html: {class: "form-control"}
					= f.input :what_type_of_card_it, input_html: {class: "form-control"}
					= f.input :card_number, input_html: {class: "form-control"}
					= f.input :expiration_date, input_html: {class: "form-control"}
					= f.input :note_and_instructions, input_html: {class: "form-control"}
					= f.association :contact, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"