= simple_form_for @credit_card, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title= "#{@subcategory.name.humanize} : My Credit Cards"
			.modal-body
				= f.input :type_of_card, collection: ["Visa", "Mastercard", "American Express", "Discover", "Dinner's Club", "JCB", "Store Card", "Other"],include_blank: "Select status", input_html: {class: "form-control", id: "type_of_card"}
				#what_type_of_card_it
					= f.input :what_type_of_card_it, label: "What type of card is it?", input_html: {class: "form-control"}
				= f.input :card_number, input_html: {class: "form-control"}
				= f.input :expiration_date, as: :date, :start_year => Date.today.year, :end_year => Date.today.year + 10
				%br
				= f.input :note_and_instructions, input_html: {class: "form-control"}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save", class: "btn btn-unseal"
:javascript
	$("#what_type_of_card_it").hide();
	$("#type_of_card").change(function() {
		if($("#type_of_card option:selected").text() == "Other"){
			$("#what_type_of_card_it").show();
		}else{
			$("#what_type_of_card_it").hide();
		} 
	});