= title "Credit_cards | #{@credit_card.id}"	
- @credit_card.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|		
	- if @credit_card.contact and attribute.eql?("contact_id")
		.row-item
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@credit_card.id}", "data-toggle" => "modal" do
					= "#{@credit_card.contact.first_name} #{@credit_card.contact.last_name}"	
	- elsif !attribute.eql?("contact_id")
		- if attribute.eql?("what_type_of_card_it")
			- if @credit_card.type_of_card.eql?("Other")
				.row-item
					%label= "What type of card is it?:"
					.item= value.blank? ? "No information" : value
		- else
			.row-item
				%label= "#{attribute.humanize}:"
				.item= value.blank? ? "No information" : value