= title("Credit Cards ")
%h1.title-module 
	My Credit Cards 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Credit cards"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Credit Cards  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Credit Card
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @credit_cards.each_with_index do |credit_card, index|
							.panel.panel-default
								.panel-body{id: "panel-#{credit_card.id}"}
									= link_to credit_card_path(@subcategory.category.permalink, @subcategory.permalink, credit_card), remote: true, class: "hidden-xs" do 
										- if credit_card.type_of_card.eql?("Other") 
											= credit_card.what_type_of_card_it.blank? ? "No information" : credit_card.what_type_of_card_it
										- else
											= credit_card.type_of_card.blank? ? "No information" : credit_card.type_of_card
									
									= link_to credit_card_path(@subcategory.category.permalink, @subcategory.permalink, credit_card), class: "visible-xs" do 
										= "credit_card #{index+1}"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{credit_card.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= credit_card.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{credit_card.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/credit_cards/#{credit_card.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", credit_card: credit_card
								= render "contact_modal", credit_card: credit_card
								= render "contact_show", credit_card: credit_card if credit_card.contact
						%center
							= paginate @credit_cards , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)