.wrapper
	.wrapper-body.container
		.actions
			= link_to death_certificates_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @death_certificate do |f|
					.row
						= f.association :death_notification, label: false, include_blank: "-- Select status --",input_html: { class: "browser-default"}
						%br
						= f.input :death_date, as: :string, input_html: {class: "datepicker"}

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
