.listing-show-header
	.actions
		- if can? :update, DeathCertificate
			= link_to edit_death_certificate_path(@death_certificate), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @death_certificate.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.allocator")
			.display-value= "#{@death_certificate.allocator.name}"
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.trustee")
			.display-value= "#{@death_certificate.deputy.first_name} #{@death_certificate.deputy.last_name}"
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.document")
			.display-value= image_tag @death_certificate.document
		- if @death_certificate.death_notification
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.status")
				.display-value= "#{@death_certificate.death_notification.name}"
		- if @death_certificate.death_date
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.death_date")
				.display-value= "#{@death_certificate.death_date}"
	

:javascript
	$('.tooltipped').tooltip({delay: 1});
