%tr{ id: "row-#{death_certificate.id}" }
	- if can? :destroy_multiple, DeathCertificate
		%td.item-check{style:"width: 10%"}
			= link_to "", death_certificate_path(death_certificate), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{death_certificate.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{death_certificate.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{death_certificate.id}" }
		%td{style:"width: 30%"}
			= link_to "", death_certificate_path(death_certificate, search: @query), remote: true, class: "show-row"
			%span
				= death_certificate.allocator.name
		%td{style:"width: 30%"}
			= link_to "", death_certificate_path(death_certificate, search: @query), remote: true, class: "show-row"
			%span
				= death_certificate.allocator.email
		%td{style:"width: 30%"}
			= link_to "", death_certificate_path(death_certificate, search: @query), remote: true, class: "show-row"
			%span
				= death_certificate.document.file.filename
								
	%td{style:"width: 5%"}		
		= link_to death_certificate_path(death_certificate), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")