= title "Death certificates | #{@death_certificate.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, DeathCertificate
				= link_to death_certificate_path(@death_certificate), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, DeathCertificate
				= link_to edit_death_certificate_path(@death_certificate), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to death_certificates_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.id")
					.display-value= @death_certificate.id
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.allocator")
					.display-value= "#{@death_certificate.allocator.name}"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.trustee")
					.display-value= "#{@death_certificate.deputy.first_name} #{@death_certificate.deputy.last_name}"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.document")
					%center
						.display-value= image_tag @death_certificate.document
				- if @death_certificate.death_notification
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.status")
						.display-value= "#{@death_certificate.death_notification.name}"
				- if @death_certificate.death_date
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.death_date")
						.display-value= "#{@death_certificate.death_date}"
