%pageslide.card{ "ps-open"=>"sidebar", "ps-auto-close" => true }
	.profile-menu.bgc-red-500
		.profile-pic
			= image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
		.profile-info
			= current_user.name
	%ul.pageslide-menu.collapsible{"data-collapsible" => "accordion"}
		= render "layouts/admin/sidebar_engines_links"
		- if can? :show, LandingPage
			%li
				= tab "Landing page config", "web", main_app.edit_landing_page_path(1), current_navigation?("LandingPages")
		- if can? :index, Category
			%li
				= tab "Categories", "book", main_app.categories_path, current_navigation?("Categories")
		- if can? :index, Subcategory
			%li
				= tab "Subcategories", "bookmark", main_app.subcategories_path, current_navigation?("Subcategories")
		- if can? :index, DeathCertificate
			%li
				= tab "Death certificate", "archive", main_app.death_certificates_path, current_navigation?("DeathCertificates")
		- if can? :index, Newslatter
			%li
				= tab "NewsLatter", "label", main_app.newslatters_path, current_navigation?("NewsLatters")
		- if can? :index, User
			%li
				= tab "Users", "person", main_app.users_path, current_navigation?("Users")

