.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "contact-show-#{emergency.id}"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4.modal-title 
					= "#{emergency.contact.first_name} #{emergency.contact.middle_name} #{emergency.contact.last_name}"
			.modal-body
				= render partial: "frontend/partials/information_contact", locals: { contact: emergency.contact}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close