= title "Emergency Contacts | #{@emergency.id}"	
- @emergency.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		- if @emergency.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@emergency.id}", "data-toggle" => "modal" do
					= "#{@emergency.contact.first_name} #{@emergency.contact.last_name}"	
		- elsif !attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value