= title("Emergency Contacts")
%h1.title-module 
	My Emergency Contacts 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Emergency Contacts"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Emergency Contact Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Emergency Contact
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @emergencies.each_with_index do |emergency, index|
							.panel.panel-default
								.panel-body{id: "panel-#{emergency.id}"}
									= link_to emergency_path(@subcategory.category.permalink, @subcategory.permalink, emergency), remote: true, class: "hidden-xs" do 
										= emergency.contact ? "#{emergency.relationship.humanize}: #{emergency.contact.first_name} #{emergency.contact.last_name}" : "#{emergency.relationship.humanize}: You have not assigned a contact"
									= link_to emergency_path(@subcategory.category.permalink, @subcategory.permalink, emergency), remote: true, class: "visible-xs" do 
										= emergency.contact ? "#{emergency.relationship.humanize}: #{emergency.contact.first_name} #{emergency.contact.last_name}" : "#{emergency.relationship.humanize}: You have not assigned a contact"

									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{emergency.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= emergency.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{emergency.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/emergencies/#{emergency.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", emergency: emergency
								= render "contact_modal", emergency: emergency
								= render "contact_show", emergency: emergency if emergency.contact
						%center
							= paginate @emergencies , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)