.wrapper
	.wrapper-body.container
		.actions
			= link_to users_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Back" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @user do |f|
					.row 
						= f.input :name
						= f.input :email
						= f.input :role_ids, collection: Role.all.map { |rol| [rol.name.humanize, rol.id] }, label: false, include_blank: ""
						= f.input :password
						= f.input :password_confirmation
						.form-actions.right
							= f.button :submit, "Save", class: "btn"