.modal{ id: "modal-#{@user.id}"}
	= form_tag user_path(@user),  method: "PUT" do
		.modal-header
			%h4= "Change rol to #{@user.name}"
		.modal-content
			- Role.all.each do |role|
				.radio-button
					= radio_button_tag "user[role_ids]", role.id, false, class: "radio-button__input", id: "radio#{role.id}", :type => "radio", :value => "#{role.id}", :checked => @user.has_role?(role.name)
					= label_tag "user[role_ids]", role.name.humanize, class: "radio-button__label", :for => "radio#{role.id}"
		.modal-footer
			= button_tag "Add Rol", :class => "waves-effect waves-light btn", name: 'commit', value: "Add Rol"
			= link_to "Cancel", "", class: "modal-action modal-close waves-effect waves-light btn red"
		