= title("Obituaries ")
%h1.title-module 
	My Obituary 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Obituary"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Obituary  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					- if @obituaries.where(user_id: current_user.id).count.zero?
						%li.active{role:"presentation"}
							%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
								+ Add Obituary
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @obituaries.each_with_index do |obituary, index|
							.panel.panel-default
								.panel-body{id: "panel-#{obituary.id}"}
									.hidden-xs
										= link_to obituary_path(@subcategory.category.permalink, @subcategory.permalink, obituary), remote: true do 
											= "Obituary"
									.visible-xs
										= link_to obituary_path(@subcategory.category.permalink, @subcategory.permalink, obituary) do 
											= "Obituary"
									.panel-actions						
										= link_to "#", "data-target" => "#modal-edit-#{obituary.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/obituaries/#{obituary.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", obituary: obituary
						%center
							= paginate @obituaries , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)