.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{contact_information.id}"}
	= simple_form_for contact_information, url: contact_information_path(@subcategory.category.permalink, @subcategory.permalink, contact_information.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog.modal-lg.contact-modal{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Contact Information ##{contact_information.id} - Edit"
				.modal-body
					= f.simple_fields_for :contact, contact_information.contact ? contact_information.contact : contact_information.build_contact do |f|
						.row
							.col-lg-4
								= f.input :first_name, input_html: { class: "form-control" }
							.col-lg-4
								= f.input :middle_name, input_html: { class: "form-control" }
							.col-lg-4
								= f.input :last_name, input_html: { class: "form-control" }
						.row
							.col-lg-4
								= f.input :birth_date, as: :date, :start_year => Date.today.year, :end_year => 1915
							.col-lg-4
								= f.input :phone_number, input_html: { class: "form-control" }
							.col-lg-4
								= f.input :email, input_html: { class: "form-control" }
						.row
							.col-lg-12
								= f.input :address, input_html: { class: "form-control" }
						.row
							.col-lg-3
								= f.input :city, input_html: { class: "form-control" }
							.col-lg-3
								= f.input :state, input_html: { class: "form-control" }
							.col-lg-3
								= f.input :zip, input_html: { class: "form-control" }
							.col-lg-3
								= f.input :country, as: :country, input_html: { class: "form-control" }
						.row
							.col-lg-12
								= f.input :notes, as: :text, input_html: { class: "form-control" }

				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"