.row
	- contact_information.contact.as_json(except: [:id, :first_name, :middle_name, :last_name, :user_id, :created_at, :updated_at]).each do |attribute, value|	
		.row-item
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value