= title("Contact Informations ")
%h1.title-module 
	My Contact Information 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Contact Information"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Contact Information Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				- if ContactInformation.where(user_id: current_user.id).count.zero?
					%ul.nav.nav-pills.nav-unseal
						%li.active{role:"presentation"}
							%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
								+ Add Contact Info
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12.listing
						- @contact_informations.each_with_index do |contact_information, index|
							.panel.panel-default
								.panel-body{id: "panel-#{contact_information.id}", style: "font-size: 30px"}
									= contact_information.contact.first_name.blank? ? "No information" : "#{contact_information.contact.first_name} #{contact_information.contact.middle_name} #{contact_information.contact.last_name}"
									= link_to contact_information_path(@subcategory.category.permalink, @subcategory.permalink, contact_information), class: "visible-xs" do 
										My Contact
									.panel-actions						
										= link_to "#", "data-target" => "#modal-edit-#{contact_information.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= #link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/contact_informations/#{contact_information.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
										-#.fa.fa-trash
								= render "edit_modal", contact_information: contact_information
								= render "contact_show", contact_information: contact_information if contact_information.contact
								.well
									.show							
										= render "show", contact_information:contact_information
						= render "modal"
