@import "../core/main";
.checklist{
	.panel-group{
		.panel{
			margin-top: 5px !important;
			.panel-heading{
				position: relative;
				padding: 15px;
				.panel-title:hover{
					color: $primary-color;
				}
				.panel-status{
					position: absolute;
					top: 5px;
					right: 10px;
					font-size: 2em;
				}
			}
			.panel-body{
				padding: 0px;
			}
		}
	}

	.list-group{
		margin: 0px;
		border: 0px;
		.list-group-item{
			border: 0px;
			border-top: 1px solid #ddd;
		}
		.list-group-item:first-child{
			border-top: 0px;
			border-radius: 0px;
		}
	}
}