@import "../core/main";

.deputy-head{
	position: relative;
	.delete-deputy{
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
}

.responsability{
	position: relative;
  background: #679DE8;
  color: white;
  padding: 20px;
  font-size: 1.5em;
  margin-bottom: 10px;

	a{
		color: white;
		text-decoration: none;
	}

	.actions{
		float: right;
		a{
			margin-right: 10px;
		}
	}
}