@import "../core/main";
// devise
.devise{
	height: 90%;
	.devise-box{
		width: 40%;
		@media #{$phone}{
			width: 90%;
		}
		@media #{$phone-landscape}{
			width: 90%;
		}
		.devise-box-body{
			padding: 25px;
			.input-field{
				margin-bottom: 15px;
			}
			p{
				font-size: 20px;
			}
		}
		.btn-devise{
			width: 100%;
			font-size: 20px;
			padding: 15px;
		}
	}
}
