@import "../core/main";
.home{
	height: 100%;
    background-size: cover;
    background-position: center;
	.home-container{
		height: 100%;
		.notice{
		    position: absolute;
		    top: 62px;
		    width: 100%;
		}
		.newslatter{
			text-align: center;
			position: relative;
			top: -50px;
			@media #{$phone}{
				top: 0px;
				width: 90%;
				h1{
					font-size: 25px;
				}
			}
			@media #{$phone-landscape}{
				top: 0px;
				width: 90%;
				h1{
					display: none;
				}
				p{
					display: none;
				}
			}
			.newslatter-container{
				padding: 10px;
				width: 570px;
				margin-top: 30px;
				@include phone_all{
					width: 100%;
				}
				.newslatter-input{
					float: left;
					padding: 10px;
					width: 400px;
					outline: none;
					@media #{$phone}{
						width: 100%;
					}
					@media #{$phone-landscape}{
						width: 100%;
					}
				}
				.newslatter-btn{
					border-radius: 0px 10px 10px 0px;
					padding: 11px;
					background-color: #5cb85c;
					color: white;
					outline: none;
					@include phone_all{
						width: 100%;
						border-radius: 0px;
					}
				}
			}
		}				
	}
}
	