@import "../core/main";

.index{
	.tab-pane{
		padding: 20px;
		color: #555555;
		h3{
			font-weight: 300;
		}

		h4{
			text-align: center;
			color: $primary-color;
		}

		.action{
			margin-top: 20px;
			position: relative;
			height: 40px;
			a{	
				position: absolute;
				right: 0px;
				width: 200px;
			}
		}

		.listing{
			position: relative;
		}

		.panel-default{
			margin: 0px;
			border-radius: 0px;
			.panel-body{
				.panel-actions{
					float: right;
				}
			}
		}

		.legend{
			list-style-type: none;
			font-weight: 300;
			margin-top: 35px;
			float: right;
			li{
				margin: 0px 10px;
				font-size: 1.3em;
				display: inline-block;
			}
		}
	}

	.show{
		.row-item{
			margin-bottom: 10px;
			padding-bottom: 7px;
			border-bottom: 1px solid #dddddd;
		}
		.row-item:last-child{
			border-bottom: 0px;
			padding-bottom: 0px;
			margin-bottom: 0px;
		}
	}

	.nav-tabs{
		li.active{
			a{
				border-left: 0px;
			}
		}
	}

	.panel-actions{
		a{
			margin-left: 3px;
		}
	}
	
}