@import "../core/main";

html, body, main {
  height: 100%;
  font-family: $roboto;
  background: #f0f0f0;
}

.tooltip{
  min-width: 250px;
}

.center{
  @include display-flexbox;
  @include align-items(center);
  @include justify-content(center);
  height: 100%; 
  width: 100%;
}  

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  z-index: 9;
}

.card {
  border-radius: 2px !important;
  background-color: #FFFFFF !important;
  overflow: visible !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
  .card-body{
    padding: 10px;
  }
}

.help-inline{
  color: red;
}

.main-yield{
  padding-top: 110px;
}

.clear{
  color: $color-clear;
}

.done {
  color: $color-done;
}

.ready{
  color: $color-ready;
}

.alert{
  border-radius: 0px !important;
  position: absolute;
  top: 68px;
  width: 100%;
}

.primary-color{
  color: $primary-color;
}

.bg-selection{
  background-color: $color-selection !important;
  color: white;
  a{
    color: $primary-color;
  }
  .btn{
    color: white !important;
  }
}

.padding-10{
  padding: 10px;
}

.title-module{
  font-weight: 300;
  color: $primary-color;
  font-size: 50px;
  margin-bottom: 10px;
}

.text-unseal{
  color: $primary-color !important;
  a{
    color: $primary-color !important;
  }
}

.panel-unseal {
  border-color: $primary-color;
  border-radius: 0px !important;
  .panel-heading {
    color: $primary-color;
    background-color: $panel-heading;
    border-color: $primary-color;
  }
  .panel-body{
    a{
      color: $primary-color;
    }
  }
}

.index{
  min-height: 550px;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 50px;
  hr{
    margin: 0px;
  }
}


.btn, .well{
  border-radius: 0px;
}

.btn-unseal{
  background-color: $btn-unseal !important;
  color: white !important;
  outline: none;
}

.btn-unseal:hover{
  background-color: $btn-unseal-hover !important;
  color: white !important;
  outline: none;
}

.btn-unseal-gray{
  background-color: $btn-unseal-gray !important;
  border-color: $btn-unseal-gray-hover !important;
  color: white !important;
}

.btn-unseal-gray:hover{
  background-color: #7B7B7B !important;
  border-color: #565656 !important;
  color: white !important;
}

.nav-unseal{
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-unseal{
  border: 1px solid $primary-color;
  padding: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus{
  background-color: $btn-unseal !important;
  border-radius: 0px;
}

.nav-pills > li.active > a:hover{
  background-color: $btn-unseal-hover !important;
  border-radius: 0px;
}

.nav-tabs > li > a:hover{
  border-radius: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border-radius: 0px;
  font-weight: bold;
  color: $primary-color !important;
}

.pagination{
  a{
    color: $primary-color !important;
  }
  li:last-child > a, li:first-child > a{
    border-radius: 0px;
  }
  .active a, a:hover{
    background-color: $primary-color !important;
    color: white !important;
    outline: none;
    border: 1px solid #524261 !important; 
  }
}

footer{
  text-align: center;
  padding: 10px;
  span{
    font-weight: bold;
    color: $primary-color;
  }
}

#nprogress {
  .spinner{
    z-index: 999999;
    top: 15px;
  }

  .spinner-icon {
    border: solid 3px transparent;

    border-top-color: #29d;
    border-left-color: #29d;

    width: 40px;
    height: 40px;

    @include phone_all {
      display: none;
    }

  }
}