@import "../core/main";
.modal-backdrop{
	z-index: 99998;
}
.modal{
	z-index: 99999;
	.contact-modal{
		width: 80%;
		border-radius: 0px;
	}
	.modal-dialog{
		.modal-content{
			.modal-header{
				.modal-title{					
				  font-weight: 300;
				  color: $primary-color;
				  font-size: 30px;
				  margin-bottom: 10px;
				  text-align: center;
				}
			}
			.modal-body{
				.modal-p{
					color: #000;
					font-size: 15px;
				}
				input[type="file"] {
				    display: block;
				    color: #000;
				}
				.information{
					margin-bottom: 15px;
				}
				label{
					font-weight: 400;
					color: $primary-color;
					font-size: 18px;
				}
				.form-control{
					margin-bottom: 20px;
					border-radius: 0px;
				}	
				h3{
					margin-top: 0px;
					font-weight: 300;
				}
				hr{
					margin-bottom: 20px;
				}
				.nav-pills > li > a:hover {
					border-radius: 0px;
				}
				.nav-pills > li.active > a {
					border-radius: 0px;
				}
			}
		}
	}
}