@import "../core/main";

#front-navbar{ 
	margin-bottom: 0px;
	font-size: 17px;
	background-color: $primary-color;
	padding: 10px 0px;
	border-radius: 0px;
	position: absolute;
	border: none;
	width: 100%;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
	z-index: 99997;
	a{
		color:white;
	}
	.open a:focus{
		background: $primary-color !important;
	}
	.brand-logo{
		position: relative;
		left: 10px;
		font-size: 30px;
		color: #ffffff;
		@media #{$phone}{
			position: initial;
			left: 0px;
			img{
				margin: 0px;
				margin-left: 10px;
			}
		}
		@media #{$phone-landscape}{
			position: initial;
			left: 0px;
			img{
				margin: 0px;
				margin-left: 10px;
			}
		}
	}
	.dropdown-menu{
		background: $primary-color;
		li{
			a:hover{
				background: #84ADE6;
			}
		}
	}
	.btn-index{
		font-size: 17px; 
		padding: 0px; 
		margin-right:10px;
		@media #{$phone}{
			width: 100%;
		}
		a{
			padding: 13px;
		}
	}
	@media #{$phone}{
		.navbar-collapse, .navbar-default .navbar-form {
		    border-color: none;
		    position: relative;
		    top: 10px;
		}
	}
}
