#myModalEdit.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "#{contact.id}"}	
	= simple_form_for contact, wrapper: :bootstrap, method: :put do |f|
		.modal-dialog.modal-lg.contact-modal{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title 
						Contact
				.modal-body
					.row
						.col-lg-4
							= f.input :first_name, input_html: { class: "form-control" }
						.col-lg-4
							= f.input :middle_name, input_html: { class: "form-control" }
						.col-lg-4
							= f.input :last_name, input_html: { class: "form-control" }
					.row
						.col-lg-4
							= f.input :birth_date, as: :date, :start_year => Date.today.year - 21, :end_year => 1915
						.col-lg-4
							= f.input :phone_number, input_html: { class: "form-control" }
						.col-lg-4
							= f.input :email, input_html: { class: "form-control" }
					.row
						.col-lg-12
							= f.input :address, input_html: { class: "form-control" }
					.row
						.col-lg-3
							= f.input :city, input_html: { class: "form-control" }
						.col-lg-3
							= f.input :state, input_html: { class: "form-control" }
						.col-lg-3
							= f.input :zip, input_html: { class: "form-control" }
						.col-lg-3
							= f.input :country, as: :country, input_html: { class: "form-control" }
					.row
						.col-lg-12
							= f.input :notes, as: :text, input_html: { class: "form-control" }
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Edit Information", class: "btn btn-unseal"