= title "Contacts | #{@contact.id}"
	
- @contact.as_json(except: [:id, :subcategory_id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		%label= "#{attribute.humanize}:"
		.item= value.blank? ? "No Information" : value


