%h1.title-module 
	My Contacts
.container.index.card
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Contacts 
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			#form
				.card-body
					%ul.nav.nav-pills.nav-unseal
						%li.active{role:"presentation"}
							%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
								+ Add Contact
					%hr	
					%br
					.row
						.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
							- @contacts.each do |contact|
								.panel.panel-default
									.panel-body{id: "panel-#{contact.id}"}
										= link_to contact_path(contact), remote: true do 
											= contact.first_name? ? "#{contact.first_name} #{contact.last_name}" : "No Information"
										.panel-actions
											= link_to "#", class: "btn btn-unseal-gray", title: "Edit Contact", "data-target" => "#myModalEdit_#{contact.id}", "data-toggle" => "modal", :type => "button", id: "edit" do
												.fa.fa-pencil-square-o
											= link_to "/contacts/#{contact.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
												.fa.fa-trash
								= render "edit", contact: contact
							= render "modal"
						.col-lg-5.col-md-5.col-sm-6.hidden-xs
							.well
								.show
									Here you can find an overview of all information about your contacts. You can change them, and you will find them to add them to a category into your tasks.