.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{attorney.id}"}
	= simple_form_for attorney, url: attorney_path(@subcategory.category.permalink, @subcategory.permalink, attorney.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Attorney ##{attorney.id} - Edit"
				.modal-body
					= f.input :type_of_attorney, collection: ["Corporate Law", "Criminal Defense", "Estate Planning", "Employment", "Family/Divorce", "Personal Injury", "Property Law", "Other"],include_blank: "", input_html: {class: "form-control"}
					= f.input :note_and_instructions, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"