= simple_form_for @attorney, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title= "#{@subcategory.name.humanize} : My Attorneys"
			.modal-body
				= f.input :type_of_attorney, collection: ["Corporate Law", "Criminal Defense", "Estate Planning", "Employment", "Family/Divorce", "Personal Injury", "Property Law", "Other"],include_blank: "", input_html: {class: "form-control"}
				= f.input :note_and_instructions, input_html: {class: "form-control"}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save", class: "btn btn-unseal"
