= title "Attorneys | #{@attorney.id}"	
- @attorney.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		- if @attorney.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@attorney.id}", "data-toggle" => "modal" do
					= "#{@attorney.contact.first_name} #{@attorney.contact.last_name}"	
		- elsif !attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value