= title("Attorneys ")
%h1.title-module 
	My Attorneys 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "My Attorneys"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Attorneys  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Attorney
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @attorneys.each_with_index do |attorney, index|
							.panel.panel-default
								.panel-body{id: "panel-#{attorney.id}"}
									= link_to attorney_path(@subcategory.category.permalink, @subcategory.permalink, attorney), remote: true, class: "hidden-xs" do 
										= attorney.contact ? "#{attorney.type_of_attorney}: #{attorney.contact.first_name} #{attorney.contact.last_name}" : "#{attorney.type_of_attorney}: You have not assigned a contact"
									= link_to attorney_path(@subcategory.category.permalink, @subcategory.permalink, attorney),class: "visible-xs" do 
										= attorney.contact ? "#{attorney.type_of_attorney}: #{attorney.contact.first_name} #{attorney.contact.last_name}" : "#{attorney.type_of_attorney}: You have not assigned a contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{attorney.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= attorney.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{attorney.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/attorneys/#{attorney.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", attorney: attorney
								= render "contact_modal", attorney: attorney
								= render "contact_show", attorney: attorney if attorney.contact
						%center
							= paginate @attorneys , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)