= title "Access denied"
%h3 Access denied
%small= flash[:message] ? flash[:message] : "You are not authorized"

%footer
	- if current_user.has_role? :admin
		= link_to material_icon.md_24.home, "/admin/dashboard"
	- else
		= link_to material_icon.md_24.home, main_app.root_path
