%ol.breadcrumb
	%li.text-unseal
		= link_to myunsealbox_path(@subcategory.category.permalink) do
			= "#{@subcategory.category.name.humanize}"
	%li.text-unseal
		= "#{@subcategory.name.humanize}"
	%li.active
		= link_to eval("#{controller_name}_path(@subcategory.category.permalink, @subcategory.permalink)") do
			= "#{module_name}"