%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= favicon_link_tag "frontend/favicon.png"
	= csrf_meta_tags
	:javascript
		WebFontConfig = {
			google: { families: [ 'Roboto:300,400,500,700:latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();

	- if is_landing_page?
		= render 'layouts/frontend/google_analytics'
		= raw @config.try(:meta_tags)
		= raw @config.try(:google_adwords_script)
	- else
		%title= content_for?(:title) ? yield(:title) : 'Unsealbox'
		%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Description'}"}