%li
	= link_to "My Tasks", myunsealbox_path("my-life")
%li
	= link_to "My Box", myplan_path
%li
	= link_to "My Contacts", main_app.contacts_path
%li.dropdown
	%a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
		Trustee
		%span.caret
	%ul.dropdown-menu
		%li
			= link_to "My trustees", main_app.deputies_path
		%li
			= link_to "My responsibilities", main_app.responsabilities_deputies_path
%li.dropdown
	%a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
		.fa.fa-user
		= current_user.name
		%span.caret
	%ul.dropdown-menu
		%li
			= link_to "Sign Out", main_app.destroy_user_session_path

