-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default#front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.brand-logo
        = image_tag "frontend/unsealbox-white.png", width: "180px"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right.hidden-xs    
        - if user_signed_in?    
          = render 'layouts/frontend/navigation_links' 
        - else
          %li.btn.btn-success.btn-index
            = link_to "Login", user_session_path 
      %ul.nav.navbar-nav.visible-xs    
        - if user_signed_in?    
          = render 'layouts/frontend/navigation_links' 
        - else
          %li.btn.btn-success.btn-index
            = link_to "Login", user_session_path 
            

