!!!
%html
	= render 'layouts/frontend/head' 
	%body
		%header
			= render 'layouts/frontend/navigation'
		%main{:role => "main"}
			= render 'layouts/frontend/messages'
			- if controller_name == "frontend" and action_name == "index"
				= yield
			- elsif controller_name == "sessions" and action_name == "new"
				= yield
				%footer.navbar-fixed-bottom
					All rights reserved 2016. 
					%span
						Unsealbox
			- else
				.container
					.main-yield
						= yield
						%footer
							All rights reserved 2016. 
							%span
								Unsealbox



