.row.information
	.col-lg-4
		%label Birth date
		%div= contact.birth_date.blank? ? "No information" : contact.birth_date
	.col-lg-4
		%label Phone number
		%div= contact.phone_number.blank? ? "No information" : contact.phone_number
	.col-lg-4
		%label Email
		%div= contact.email.blank? ? "No information" : contact.email
%hr
.row.information
	.col-lg-12
		%label Address
		%div= contact.address.blank? ? "No information" : contact.address
%hr
.row.information
	.col-lg-3
		%label City
		%div= contact.city.blank? ? "No information" : contact.city
	.col-lg-3
		%label State
		%div= contact.state.blank? ? "No information" : contact.state
	.col-lg-3
		%label Zip
		%div= contact.zip.blank? ? "No information" : contact.zip
	.col-lg-3
		%label Country
		%div= contact.country.blank? ? "No information" : contact.country_name
%hr
.row.information
	.col-lg-12
		%label Notes
		%div= contact.notes.blank? ? "No information" : contact.notes
%hr