- subcategory.models_of_subcategory.each do |model|
	- if @myplan == true
		-if "#{model}".constantize.where(user_id: current_user.id).count > 0
			%li.list-group-item
				= link_to t("unseal.models.labels.#{model.to_s.underscore}"), my_plan_information_path("#{model}"), remote: true		
	- else
		%li.list-group-item
			= link_to t("unseal.models.labels.#{model.to_s.underscore}"), eval("#{model.to_s.underscore.pluralize}_path(category.permalink, subcategory.permalink)")