%h3 All contacts
%hr
- if @contacts.empty?
	%h5 Don't have contacts
- else
	%ul.nav.nav-pills.nav-stacked
		- @contacts.each do |contact|
			%li{ id: "contact-#{contact.id}" }
				= link_to get_contact_path(@subcategory, controller_name.singularize, object, contact, "select-contact"), remote: true do
					= "#{contact.first_name} #{contact.last_name}"