.panel-group{"aria-multiselectable" => "true", :role => "tablist", id: "accordion-#{category.id}", style:"margin-bottom: 5px"}
	- category.subcategories.each do |subcategory|
		- if subcategory.shared_subcategory?(@user, current_user, subcategory)
			.panel.panel-unseal
				#headingOne.panel-heading{:role => "tab"}
					%h4.panel-title
						= subcategory.name
				.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel", id: "subcategory-#{subcategory.id}"}
					.panel-body
						%ul.list-group
							- if subcategory.in_plan? @user
								- subcategory.models_of_subcategory.each do |model|
									- if "#{model}".constantize.where(user_id: @user.id).count > 0
										%li.list-group-item
											= link_to t("unseal.models.labels.#{model.to_s.underscore}"), shared_information_path("#{model}", @user.permalink), remote: true
							- else
								%h4{ style: "font-weight: 300" }
									No information
