- @objects.each_with_index do |object, index|
	.panel.panel-default{style: "margin-bottom: 10px"}
		.panel-heading
			%h4.panel-title
				= t("unseal.models.labels.#{params[:objects].to_s.underscore}").singularize
				= index + 1
		.panel-body
			- object.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
				.row-item	
					- if attribute.eql?("contact_id")
						-if object.contact
							%label= "#{attribute.humanize}:"
							.item
								= link_to "#", "data-target" => "#contact-show-#{object.id}", "data-toggle" => "modal" do
									= "#{object.contact.first_name} #{object.contact.last_name}"
							= render "frontend/partials/modal_contact_plan",  object: object
					- elsif !attribute.eql?("contact_id")
						%label= "#{attribute.humanize}:"
						.item= value.blank? ? "No information" : value	
