.panel-group{"aria-multiselectable" => "true", :role => "tablist", id: "accordion-#{category.id}"}
	- category.subcategories.each do |subcategory|
		.panel.panel-default
			#headingOne.panel-heading{:role => "tab"}
				%h4.panel-title
					= subcategory.name
					%span.panel-status{ id: "panel-status-#{subcategory.id}" }
						= link_change_status(subcategory)
			.panel-collapse
				.panel-body
					%ul.list-group
						= render partial: "frontend/partials/links", locals: { category: category, subcategory: subcategory }