%h3 
	%span.primary-color= "#{contact.first_name} #{contact.middle_name} #{contact.last_name}"
%hr
= simple_form_for object, url: eval("#{params[:model_name]}_path(subcategory.category.permalink, subcategory.permalink, object.id)"), method: :put, wrapper: :bootstrap do |f|
	= render partial: "frontend/partials/information_contact", locals: { contact: contact}
	= f.input :contact_id, as: :hidden, input_html: { value: contact.id }