%h3
	= (object.contact and object.contact.created_at?) ? "Edit Contact" : "#{object.class} ##{object.id} - Add Contact"
%hr
= simple_form_for object, url: eval("#{object.class.to_s.underscore}_path(subcategory.category.permalink, subcategory.permalink, object.id)"), method: :put, wrapper: :bootstrap do |f|
	= f.simple_fields_for :contact, object.contact ? object.contact : object.build_contact do |f|
		.row
			.col-lg-4
				= f.input :first_name, input_html: { class: "form-control" }
			.col-lg-4
				= f.input :middle_name, input_html: { class: "form-control" }
			.col-lg-4
				= f.input :last_name, input_html: { class: "form-control" }
		.row
			.col-lg-4
				= f.input :birth_date, as: :date, :start_year => Date.today.year, :end_year => 1915
			.col-lg-4
				= f.input :phone_number, input_html: { class: "form-control" }
			.col-lg-4
				= f.input :email, input_html: { class: "form-control" }
		.row
			.col-lg-12
				= f.input :address, input_html: { class: "form-control" }
		.row
			.col-lg-3
				= f.input :city, input_html: { class: "form-control" }
			.col-lg-3
				= f.input :state, input_html: { class: "form-control" }
			.col-lg-3
				= f.input :zip, input_html: { class: "form-control" }
			.col-lg-3
				= f.input :country, as: :country, input_html: { class: "form-control" }
		.row
			.col-lg-12
				= f.input :notes, as: :text, input_html: { class: "form-control" }