.panel-group{"aria-multiselectable" => "true", :role => "tablist", id: "accordion-#{category.id}", style:"margin-bottom: 5px"}
	- category.subcategories.each do |subcategory|
		- if subcategory.in_plan?(current_user)
			.panel.panel-unseal
				#headingOne.panel-heading{:role => "tab"}
					%h4.panel-title
						= subcategory.name
				.panel-collapse.collapse.in{"aria-labelledby" => "headingOne", :role => "tabpanel", id: "subcategory-#{subcategory.id}"}
					.panel-body
						%ul.list-group
							= render partial: "frontend/partials/links", locals: { category: category, subcategory: subcategory }