= title "Public_letters | #{@public_letter.id}"	
- @public_letter.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		%label= "#{attribute.humanize}:"
		.item= value.blank? ? "No information" : value