= title("Public Letter")
%h1.title-module 
	My Public Letter
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Public Letter"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Public Letter Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				- if PublicLetter.where(user_id: current_user.id).count.zero?
					%ul.nav.nav-pills.nav-unseal
						%li.active{role:"presentation"}
							%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
								+ Add Public Letter
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @public_letters.each_with_index do |public_letter, index|
							.panel.panel-default
								.panel-body{id: "panel-#{public_letter.id}"}
									= link_to public_letter_path(@subcategory.category.permalink, @subcategory.permalink, public_letter), remote: true do 
										Public Letter
									.panel-actions										
										= link_to "#", "data-target" => "#modal-edit-#{public_letter.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/public_letters/#{public_letter.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", public_letter: public_letter
						%center
							= paginate @public_letters , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)