.devise
	.center     
		.devise-box.card
			= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
				.devise-box-body
					%h1 Log in
					.input-field
						%label{for: :email} Email
						%br
						= f.email_field :email, :autofocus => true, class: "form-control"		
					.input-field
						%label{for: :password} Password
						%br
						= f.password_field :password,  :autofocus => true, class: "form-control"		
					.devise-errors
						- flash.each do |name, msg|
							= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
					.devise-box-footer          
				= f.submit "Login", :class => 'btn btn-success btn-devise'
			.clearfix