.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{doctor.id}"}
	= simple_form_for doctor, url: doctor_path(@subcategory.category.permalink, @subcategory.permalink, doctor.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Doctor ##{doctor.id} - Edit"
				.modal-body
					= f.input :type_of_doctor, input_html: { class: "form-control" }
					= f.input :notes, as: :text, input_html: { class: "form-control" }
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"