- @doctor.as_json(except: [:id, :created_at, :updated_at, :user_id]).each do |attribute, value|
	.row-item
		- if @doctor.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@doctor.id}", "data-toggle" => "modal" do
					= "#{@doctor.contact.first_name} #{@doctor.contact.last_name}"
		- elsif !attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value


