= title("doctors")
%h1.title-module 
	My Doctors
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "My Doctors"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation" }
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Doctors Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Doctor
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @doctors.each do |doctor|
							.panel.panel-default
								.panel-body{ id: "panel-#{doctor.id}"}
									= link_to doctor_path(@subcategory.category.permalink, @subcategory.permalink, doctor), remote: true, class: "hidden-xs" do 
										= doctor.contact ? "#{doctor.type_of_doctor}: #{doctor.contact.first_name} #{doctor.contact.last_name}" : "#{doctor.type_of_doctor}: You have not assigned a contact"
									= link_to doctor_path(@subcategory.category.permalink, @subcategory.permalink, doctor),class: "visible-xs" do 
										= doctor.contact ? "#{doctor.type_of_doctor}: #{doctor.contact.first_name} #{doctor.contact.last_name}" : "#{doctor.type_of_doctor}: You have not assigned a contact"
									.panel-actions
										= link_to "#", "data-target" => "#contact-modal-#{doctor.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= doctor.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{doctor.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/doctors/#{doctor.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", doctor: doctor
								= render "contact_modal", doctor: doctor
								= render "contact_show", doctor: doctor if doctor.contact
							%center
								= paginate @doctors, :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= @subcategory.description


					
