= title "Other_letters | #{@other_letter.id}"	
- @other_letter.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		- if @other_letter.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@other_letter.id}", "data-toggle" => "modal" do
					= "#{@other_letter.contact.first_name} #{@other_letter.contact.last_name}"	
		- elsif !attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value