= title("Other Letters ")
%h1.title-module 
	My Other Letters 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Other Letters"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Other Letters  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Other Letter
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @other_letters.each_with_index do |other_letter, index|
							.panel.panel-default
								.panel-body{id: "panel-#{other_letter.id}"}
									= link_to other_letter_path(@subcategory.category.permalink, @subcategory.permalink, other_letter), remote: true do 
										= "Letter ##{index+1}"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{other_letter.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= other_letter.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{other_letter.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/other_letters/#{other_letter.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", other_letter: other_letter
								= render "contact_modal", other_letter: other_letter
								= render "contact_show", other_letter: other_letter if other_letter.contact
						%center
							= paginate @other_letters , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)