.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{advisor.id}"}
	= simple_form_for advisor, url: advisor_path(@subcategory.category.permalink, @subcategory.permalink, advisor.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Advisor ##{advisor.id} - Edit"
				.modal-body
					= f.input :type_of_advisor, collection: ["Accountant", "Financial Planner", "Insurance Advisor", "Investment Manager", "Tax Preparer", "Other"],include_blank: "", input_html: {class: "form-control"}
					= f.input :notes, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"