= title("Advisors ")
%h1.title-module 
	My Advisors 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Advisors"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Advisors  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Advisor
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @advisors.each_with_index do |advisor, index|
							.panel.panel-default
								.panel-body{id: "panel-#{advisor.id}"}
									= link_to advisor_path(@subcategory.category.permalink, @subcategory.permalink, advisor), remote: true, class: "hidden-xs" do 
										= advisor.contact ? "#{advisor.type_of_advisor}: #{advisor.contact.first_name} #{advisor.contact.last_name}" : "#{advisor.type_of_advisor}: You have not assigned a contact"
									= link_to advisor_path(@subcategory.category.permalink, @subcategory.permalink, advisor),class: "visible-xs" do 
										= advisor.contact ? "#{advisor.type_of_advisor}: #{advisor.contact.first_name} #{advisor.contact.last_name}" : "#{advisor.type_of_advisor}: You have not assigned a contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{advisor.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= advisor.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{advisor.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/advisors/#{advisor.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", advisor: advisor
								= render "contact_modal", advisor: advisor
								= render "contact_show", advisor: advisor if advisor.contact
						%center
							= paginate @advisors , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)