%tr{ id: "row-#{category.id}" }
	- if can? :destroy_multiple, Category
		%td.item-check{style:"width: 10%"}
			= link_to "", category_path(category), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{category.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{category.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{category.id}" }

	%td{style:"width: 90%"}
		= link_to "", category_path(category, search: @query), remote: true, class: "show-row"
		%span
			= category.name
								
	%td{style:"width: 5%"}		
		= link_to category_path(category), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")