%html
	%head
	%body
		= image_tag "http://app.unsealbox.com/assets/frontend/unsealbox-blue.png", width: "200px"
		%p
			= "Dear #{@newslatter.email},"
		%p
			Congratulations for taking the first step to prepare and organize.
		%p
			Unsealbox helps you to store and organize all important information, documents, and messages for your loved ones to be unsealed only if something happens to you…
		%p
			At the moment, you subscribed to a beta version which still includes some small bugs but we promise to work hard to deliver the best service.
		%p
			As a beta version subscriber you benefit from a FREE one year premium subscribtion as soon as our final version is launched. 
		%p
			If you have any questions or suggestions, please feel free to contact us. We appreciate every feedback.
		%p
			info@unsealbox.com