= simple_form_for @other_family_member, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title= "#{@subcategory.name.humanize} : My Other Family Members"
			.modal-body				
				= f.input :related_to_you, collection: ["Parent", "Sibling", "Niece or Nephew", "Aunt or Uncle", "Cousin", "In-Law", "Other"], include_blank: "", input_html: {class: "form-control"}
				= f.input :notes, input_html: {class: "form-control"}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save", class: "btn btn-unseal"
