= title "Other_family_members | #{@other_family_member.id}"	
- @other_family_member.as_json(except: [:id, :user_id, :created_at, :updated_at]).each do |attribute, value|
	.row-item	
		- if @other_family_member.contact and attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item
				= link_to "#", "data-target" => "#contact-show-#{@other_family_member.id}", "data-toggle" => "modal" do
					= "#{@other_family_member.contact.first_name} #{@other_family_member.contact.last_name}"	
		- elsif !attribute.eql?("contact_id")
			%label= "#{attribute.humanize}:"
			.item= value.blank? ? "No information" : value