= title("Other Family Members ")
%h1.title-module 
	My Other Family Members 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Other Family Members"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Other Family Member Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Other Family Member
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @other_family_members.each_with_index do |other_family_member, index|
							.panel.panel-default
								.panel-body{id: "panel-#{other_family_member.id}"}
									= link_to other_family_member_path(@subcategory.category.permalink, @subcategory.permalink, other_family_member), remote: true, class: "hidden-xs" do 
										= other_family_member.contact ? "#{other_family_member.related_to_you}: #{other_family_member.contact.first_name} #{other_family_member.contact.last_name}" : "#{other_family_member.related_to_you}: You have not assigned a contact"
									= link_to other_family_member_path(@subcategory.category.permalink, @subcategory.permalink, other_family_member),class: "visible-xs" do 
										= other_family_member.contact ? "#{other_family_member.related_to_you}: #{other_family_member.contact.first_name} #{other_family_member.contact.last_name}" : "#{other_family_member.related_to_you}: You have not assigned a contact"
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{other_family_member.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= other_family_member.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{other_family_member.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/other_family_members/#{other_family_member.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", other_family_member: other_family_member
								= render "contact_modal", other_family_member: other_family_member
								= render "contact_show", other_family_member: other_family_member if other_family_member.contact
						%center
							= paginate @other_family_members , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)