$('.panel-default').find('.bg-selection').first().removeClass('bg-selection'); // remove bg-selection
$("#panel-#{@other_family_member.id}").addClass('bg-selection'); // add bg-selection
$('.show').html("#{escape_javascript(render 'show')}");
