//Responsive design
/*$desktop-large: "(min-width:1200px)";
$desktop: "(min-width:992px)";
$tablet: "only screen and (min-device-width: 768px) and (max-device-width: 1024px)";
$tablet-protrait: "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)";
$tablet-landscape: "only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)";
$phone: "only screen and (min-device-width: 320px) and (max-device-width: 736px)";
$phone-portrait: "only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait)";
$phone-landscape: "only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape)";
*/
$desktop-large: "(min-width:1200px)";
$desktop: "(min-width:992px) and (max-width:1199px)";
$tablet: "(min-width: 768px) and (max-width:991px)";
$tablet-landscape: "(min-width:768px) and (orientation : portrait)";
$phone: "(max-width: 767px) and (orientation : portrait)";
$phone-landscape: "(max-width: 767px) and (orientation : landscape)";
$min-phone: "(max-width: 320px) and (orientation : portrait)";
//fuentes
$roboto: 'Roboto', sans-serif;

//colores
$primary-color: #679DE8;

$color-clear: #E03030;
$color-done: #679DE8;
$color-ready: #89b126;
$color-selection: #DADADA;

$btn-unseal: #679DE8;
$btn-unseal-hover: #4584DC;

$btn-unseal-gray: #989898;
$btn-unseal-gray-hover: #828282;

$panel-heading: #CDDFF7;
