.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-edit-#{account.id}"}
	= simple_form_for account, url: account_path(@subcategory.category.permalink, @subcategory.permalink, account.id), method: :put, wrapper: :bootstrap do |f|
		.modal-dialog{:role => "document"}
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title= "Account ##{account.id} - Edit"
				.modal-body
					= f.input :type_of_account, input_html: {class: "form-control"}
					= f.input :name_of_finalcial_institution, input_html: {class: "form-control"}
					= f.input :account_number, input_html: {class: "form-control"}
					= f.input :note_and_instructions, input_html: {class: "form-control"}
					= f.association :contact, input_html: {class: "form-control"}
				.modal-footer
					%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
					= f.button :submit, "Save Information", class: "btn btn-unseal"