= simple_form_for @account, wrapper: :bootstrap do |f|
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title= "#{@subcategory.name.humanize} : My Accounts"
			.modal-body
				= f.input :type_of_account, collection: ["Checking", "Savings", "Money Market", "Certificate of deposit", "Pension Plan", "Investments", "Trust Fund", "Other"],include_blank: "Select status", input_html: {class: "form-control"}
				= f.input :name_of_finalcial_institution, input_html: {class: "form-control"}
				= f.input :account_number, input_html: {class: "form-control"}
				= f.input :note_and_instructions, input_html: {class: "form-control"}
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
				= f.button :submit, "Save", class: "btn btn-unseal"
