= title("Accounts ")
%h1.title-module 
	My Accounts 
.container.index.card
	= render "layouts/frontend/breadcrumbs", module_name: "Accounts"
	%ul.nav.nav-tabs{:role => "tablist"}
		%li.text-unseal.active{:role => "presentation"}
			%a{"aria-controls" => "form", "data-toggle" => "tab", :href => "#form", :role => "tab"} Add Accounts  Info to My Box
	.tab-content
		#form.tab-pane.active{:role => "tabpanel" }
			.card-body
				%ul.nav.nav-pills.nav-unseal
					%li.active{role:"presentation"}
						%a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", id: "add"}
							+ Add Account
				.row
					.col-lg-7.col-md-7.col-sm-6.col-xs-12.listing
						- @accounts.each_with_index do |account, index|
							.panel.panel-default
								.panel-body{id: "panel-#{account.id}"}	
									= link_to account_path(@subcategory.category.permalink, @subcategory.permalink, account), remote: true, class: "hidden-xs" do 
										= account.contact ? "#{account.name_of_finalcial_institution}: #{account.contact.first_name} #{account.contact.last_name}" : "#{account.name_of_finalcial_institution}: You have not assigned a contact"
									= link_to account_path(@subcategory.category.permalink, @subcategory.permalink, account),class: "visible-xs" do 
										= account.contact ? "#{account.name_of_finalcial_institution}: #{account.contact.first_name} #{account.contact.last_name}" : "#{account.name_of_finalcial_institution}: You have not assigned a contact"			
									.panel-actions										
										= link_to "#", "data-target" => "#contact-modal-#{account.id}", "data-toggle" => "modal", class: "btn btn-unseal" do
											.fa.fa-user
											= account.contact ? 'Edit Contact' : 'Add Contact'
										= link_to "#", "data-target" => "#modal-edit-#{account.id}", "data-toggle" => "modal", class: "btn btn-unseal-gray", title: "Edit #{controller_name.singularize.humanize}" do
											.fa.fa-pencil-square-o
										= link_to "/#{@subcategory.category.permalink}/#{@subcategory.permalink}/accounts/#{account.id}", method: :delete, class: "btn btn-danger", title: "Delete #{controller_name.singularize.humanize}", "data-confirm"=> "Are you sure?" do
											.fa.fa-trash
								= render "edit_modal", account: account
								= render "contact_modal", account: account
								= render "contact_show", account: account if account.contact
						%center
							= paginate @accounts , :views_prefix => 'kaminari/bootstrap3'
						= render "modal"
					.col-lg-5.col-md-5.col-sm-6.hidden-xs
						.well
							.show
								= raw(@subcategory.description)